/* font */

@font-face {
    font-family: Lato;
    src: url('Lato-Regular.ttf'),
}

html {
    font-family: Lato, sans-serif;
}

#your-time {
    display: flex;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    border-style: solid;
    border-color: #4f4f4f;
    border-width: 2px;
    border-radius: 5px;
}

#your-time .submission {
    max-height: 25px;
    min-height: 25px;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #CBCBCB;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #353535;
    border-width: 2px;
}

#your-time .submission .votes {
    width: 5%;
    text-align: center;
    padding: 5px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #4f4f4f;
}

#your-time .submission .votes .upvote {
    float: left;
    max-width: 15px;
}

#your-time .submission .votes .number {
    font-size: 14px;
}

#your-time .submission .votes .downvote {
    float: right;
    max-width: 15px;
}

#your-time .submission .seconds {
    width: 15%;
    color: #4B93E8;
    text-decoration: none;
    font-size: large;
    white-space: nowrap;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #4f4f4f;
}

#your-time .submission .comment {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    -o-text-overflow: ellipsis;
    /** Opera 9 & 10 **/
    width: 80%;
    padding-left: 5px;
    text-align: left;
}
