@font-face {
    font-family: Lato;
    src: url('Lato-Regular.ttf'),
}

#your-time {
    font-family: Lato, sans-serif;
}

/* ERROR START */
#your-time #error {
    border-left-style: solid;
    margin-top: 5px;
    border-left-color: #bd0f02;
    background-color: #ffd2cc;
}

#your-time #error .main-text {
    padding: 10px;
    font-weight: 500;
    font-size: 2rem;
}

#your-time #error .secondary-text {
    font-weight: 100;
    text-decoration: transparent;
    color: hsl(206.1, 79.3%, 52.7%);
}

#your-time #error .secondary-text:hover {
    color: #333333;
}

#your-time #error .secondary-text:visited {
    color: hsl(206.1, 79.3%, 52.7%);
}
/* ERROR END */
/* MAIN START */
